<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(function()
  {
    $(".menu-toggle").on("click",function(){
      // $("#menu-primary").slideToggle();
      $(".menu-primary").toggleClass('menu-expand');
    })
  })
});
</script>
<header>
  <div class="div-header">

    <div class="logo">
      <a href="http://www.mp3peek.com">
      <img src="images/home/logo-name.png" alt="logo" width="auto" height="38" style="margin-top:3px;" />
  <!--    <div class="logoname" >Mp3<span id="span-peek">peek</span>.com</div>  -->
      </a>
    </div>

    <div class="nav-bar">
      <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle"><i class="fas fa-bars fa-lg"></i> Menu</button>
         <ul class="menu-primary">
           <a href="#"><li>Latest Songs</li></a>
           <a href="#"><li>Bollywood Songs</li></a>
           <a href="#"><li>Punjabi Songs</li></a>
           <a href="#"><li>New Video Songs</li></a>
         </ul>
      </nav>
    </div>

  </div>
</header>
